body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-bar{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 5px 50px 0px 0px;
  padding: 5px 50px 0 0;
}
#app {
  padding: 100px;
  font-family: 'Avenir LT Std', sans-serif;
}

.form-control {
  font-size: 2rem;
  padding: 25px 15px;
}
